<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Students</title>
</head>
<body>
    <!--All Students-->
    <h2>All Students</h2>
    <h4>Total: {{students | length}}</h4>
    {% if students %}
        {% for student in students %}
            <div style="border: 1px solid #ccc; padding: 10px; margin: 10px 0;">
                <p><strong>Name:</strong> {{ student.name }}</p>
                <p><strong>Email:</strong> {{ student.email }}</p>
                <p><strong>Roll Number:</strong> {{ student.roll_number }}</p>
                <p><strong>Grade:</strong> {{ student.grade }}</p>
            </div>
        {% endfor %}
    {% else %}
    <h2>No Student Found</h2>
    {% endif %}
   
</body>
</html>