<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registation page</title>
</head>
<body>
    <h2>Student Registation</h2>
    {% comment %} <form action="">
        {{form}}
        <input type="submit" value="Submit">
    </form> {% endcomment %}

    <form action="">
        <table>
            {{form.as_table}}
        </table>
        <input type="submit" value="Submit">

    </form>

    {% comment %} <form action="">
            {{form.as_div}}
        <input type="submit" value="Submit">
    </form>  {% endcomment %}

    {% comment %} <form action="">

    <div>
        <label for="First Name"> {{form.first_name.label}}</label>
        {{form.first_name}}
    </div>
    <div>
        <label for="First Name"> {{form.last_name.label}}</label>
        {{form.last_name}}
    </div>
    <div>
        <label for="First Name"> {{form.email.label}}</label>
        {{form.email}}
    </div>

        <input type="submit" value="Submit">
    </form>  {% endcomment %}

    
</body>
</html>