<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>
     {% block title %}{% endblock title %}
    | Way of Django </title>

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
     <ul>
        <li>Home</li>
        <li>Django</li>
        <li>Python</li>
    </ul>
    {% block heading %} 
    <h1>Home page here</h1>
    {% endblock heading %}



    {% block footer %}
    <footer>Footer For All</footer>
    {% endblock footer %}


</body>
</html>