.heading{
    font-size: large;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid gold;
    border-radius: 1000px;
}

.para{
    /* color: rgb(27, 27, 27); */
    color: red;
    font-size: small;
    font-weight: normal;
    line-height: normal;
}