<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Django here</title>
    </head>
    <body>
        <h2>Follow the tutorial step by step to learn django effectively</h2>
        {% comment %} 1.0 Variable  {% endcomment %}
        {% comment %} <h3>Variable</h3>
        <p>Course: {{cname}} {% endcomment %}

        {% comment %} 1.1 Variable  {% endcomment %}
        {% comment %} <h3>Variable</h3>
        <p>Course: {{cname}} </p>
        <p>Duration: {{duration}} </p>
        <p>Total Seats: {{seats}}</p> {% endcomment %}

        {% comment %} 1.1 Variable  {% endcomment %}
        {% comment %} <h3>Filter</h3>
        <p>Course: {{cname | upper}} </p>
        <p>Duration: {{duration}} </p>
        <p>Total Seats: {{seats}}</p>
        <p>{{description | truncatewords:9}}</p>

        <h3>some more filter here: </h3>
        <p>Course: {{cname | lower }} </p>
        <p>Course: {{cname | capfirst }} </p>
        <p>Course: {{cname | default:"none" }} </p>
        <p>Course: {{cname | length }} </p>
        <p>{{cname | truncatechars:5}}</p>
        <p>Course: {{cname | slice:"2" }} </p> {% endcomment %}

        {% comment %} 1.2 Date  {% endcomment %}
        {% comment %} <h2> Date time </h2>
        <p>{{dt}}</p>
        <p>{{dt | date}}</p>
        <p>{{dt | date:"D d m y"}}</p>
        <p>{{dt | time}}</p>
        <p>{{dt | time:'H:i'}}</p>
        <p>{{dt | date:"SHORT_DATE_FORMAT"}}</p>
        <p>TIME: {{dt | time:'TIME_FORMAT'}}</p>
        <p> DATE: {{dt | date:'DATE_FORMAT'}}</p> {% endcomment %}

        {% comment %} 2 Float  {% endcomment %}
        {% comment %} <h2>Floating number format</h2>
        <p>Value 1: {{v1}} </p>
        <p>Value 2: {{v2}} </p>
        <p>Value 3: {{v3}} </p>
        <strong>(Formated)</strong>
        <p>Value 1: {{v1 | floatformat:3}} </p>
        <p>Value 2: {{v2 | floatformat:2}} </p>
        <p>Value 3: {{v3 | floatformat}} </p>

        <p>Value 1: {{v1 | floatformat:0}} </p>
        <p>Value 2: {{v2 | floatformat:-2}} </p>
        <p>Value 3: {{v3 | floatformat:-2}} </p> {% endcomment %}

        {% comment %} 2 Float  {% endcomment %}
        <h3>IF and ELSE </h3>
        {% comment %} {% if name  %}
            <h3>Course: {{name}} </h3>
        {% endif %} {% endcomment %}

        {% comment %} 3 if  {% endcomment %}

        {% comment %} {% if name and available %}
            <h3>Course: {{name}} </h3>
            {% else %}
            <h3> No courses available </h3>
        {% endif %} {% endcomment %}

        {% comment %} 4.1 if  {% endcomment %}

        {% comment %} {% if name == 'Django' and name|length > 3 %}
            <h3>Course: {{name}} </h3>
            {% else %}
            <h3> No courses available </h3>
        {% endif %} {% endcomment %}

        {% comment %} 5 for loop  {% endcomment %}
        <h2>Available Courses</h2>
        <ul>
            {% for course in courses  %}
            <li>
                
                <strong>
                    {{ forloop.counter }}.
                    {{course.name}}
                </strong>
                ({{ course.duration }}, Level: {{ course.level }})
            </li>
            {% endfor %}
        </ul>
    </body>
</html> 